node_modules/
.env
ml_legacy/
ml-attendance/
.venv/
venv/
tmp_if/
ml/known_faces1/
ml/test*.jpg
ml/verify*.jpg
ml/*.json
ml/*.xlsx
ml/*.ipynb
backend/uploads/
frontend/dist/
.DS_Store
__pycache__/
*.onnx
*.tflite
ml/buffalo_l/